{% load widget_tweaks %}
<head>

  {% block title %}<title>Cornershop's Backend test</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class="container">
    <h2> Hello! I share with you today's menu :)</h2>
    {% for option in lunch %}
    <ul>
     <li>Option 1: {{ option.optionOne }}</li>
     <li>Option 2: {{ option.optionTwo }}</li>
     <li>Option 3: {{ option.optionThree }}</li>
     <li>Option 4: {{ option.optionFour }}</li>
    </ul>
    <h2> Have a nice day! </h2>  
    {% endfor %}
    <hr/>
    <a href="{% url 'appointMeal' %}">Go to order</a> 
    <hr/>
</div>


